*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background: #f1f1f1;

}

.focus-anim {
  padding: 30px 45px;
  font-size: 50px;
  border: 3px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  color: #f1f1f1;
  font-family: Montserrat, sans-serif;
}
.focus-anim::before, .focus-anim::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
.focus-anim::before {
  border: 2px solid #000;
}
.focus-anim::after {
  background: #000;
  z-index: -1;
}
.focus-anim:hover::before {
  transform: scaleY(1.1) scaleX(1.05);
}
.focus-anim:hover::after {
  transform: scaleY(0.9) scaleX(0.95);
}

/* pour les personnes qui ont besoin d'assistance sur l'ordinateur avec notamment le lecteur d'écran en appuyant sur la touche Tab */
.focus-anim:hover::focus {
  transform: scaleY(1.1) scaleX(1.05);
}
.focus-anim:hover::focus {
  transform: scaleY(0.9) scaleX(0.95);
}
/*maintenant lorsqu'on clique sur l'élément*/
.focus-anim:active::before {
  transform: scaleY(1.2) scaleX(1.1);
}